<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android67">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android67">
        <activity
            android:name=".MovePhoto"
            android:label="@string/title_activity_move_photo"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.example.android67.PhotoGallery" />
        </activity>
        <activity
            android:name=".SearchResult"
            android:label="@string/title_activity_search_result"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.SearchMenu" />
        </activity>
        <activity
            android:name=".SearchMenu"
            android:label="@string/title_activity_search_menu"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.MainActivity" />
        </activity>
        <activity
            android:name=".TagMenu"
            android:label="@string/title_activity_tag_menu"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.DisplayPhoto" />
        </activity>
        <activity
            android:name=".DisplayPhoto"
            android:label="@string/title_activity_display_photo"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.PhotoGallery" />
        </activity>
        <activity
            android:name=".PhotoGallery"
            android:label="@string/title_activity_photo_gallery"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.MainActivity" />
        </activity>
        <activity
            android:name=".EditAlbButton"
            android:label="@string/title_activity_edit_alb_button"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.MainActivity" />
        </activity>
        <activity
            android:name=".AddAlbButton"
            android:label="@string/title_activity_add_button"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Android67.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android67.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>